<b>Marie-Josée Meuwly</b> - Präsidentin
Chemin du Soleil Levant 7, 1624 La Verrerie
079 518 01 39

<b>Céline Meuwly</b> - Sekretärin
Impasse des Côtes 5, 1782 Lossy
079 585 15 43

<b>Luis Philippe Fernandes</b> - Bildungskoordinator
Route des Pralettes 11, 1723 Marly

<b>Philippe Frein</b> - Kassierer
Chemin St-Martin 5, 1723 Marly
079 690 01 80

<b>Julien Helbling</b> - Webmaster
Route de Bourguillon 2, 1723 Marly
079 359 65 27