It was in 2004 that the project to help orphans having a job began. This project was dear to our late Francis Selvadoray.
The purpose of this foundation, internal to the Association, is to financially support young girls, in order to enable them to follow a training course after the end of their schooling in Kurumbagaram.
Funding for these courses is provided by the Association or through sponsorships.
If you would like more information on this subject, please <a href="http://www.kurumbagaram.org/helpus">contact us</a>.
Here is a non-exhaustive list of orphans who have completed training, or who have training in progress.