C'est en 2004 que démarre le projet d'aide à la formation des orphelines. Ce projet était cher à notre regretté Francis Selvadoray.
Le but de cette fondation, interne à l'Association, est de soutenir financièrement des jeunes filles, afin de leur permettre de suivre une formation après la fin de leur scolarité à Kurumbagaram.
Le financement de ces formations est assuré par l'Association our par l'intermédiaire de parrainages.
Si vous souhaitez avoid d'avantages d'informations à ce sujet, n'hésitez pas à <a href="http://www.kurumbagaram.org/helpus">nous contacter</a>.
Voici une liste non exhaustive des orphelines ayant terminé une formation, ou ayant une formation en cours.
