2004 begann das Projekt zur Ausbildung von Waisenkindern. Dieses Projekt lag unserem verstorbenen Francis Selvadoray sehr am Herzen.
Zweck dieser vereinsinternen Stiftung ist es, junge Mädchen finanziell zu unterstützen, um ihnen nach Beendigung ihrer Schulzeit in Kurumbagaram eine Ausbildung zu ermöglichen.
Die Finanzierung dieser Kurse erfolgt durch den Verein oder durch Patenschaften.
Wenn Sie weitere Informationen zu diesem Thema wünschen, <a href="http://www.kurumbagaram.org/helpus">kontaktieren Sie uns bitte</a>.
Hier ist eine nicht erschöpfende Liste von Waisenkindern, die eine Ausbildung abgeschlossen haben oder in Ausbildung sind.