De gauche à droite:
<ul>
<li>Sr. Nibisha (Directrice de l'école)</li>
<li>Sr. Shylaja (Enseignante)</li>
<li>Sr. Sandhanamary (Enseignante)</li>
<li>Sr. Fathima (Soeur Supérieure)</li>
<li>Sr. Beula (Enseignante de mathématique)</li>
<li>Sr. Nirmala (Comptable)</li>
</ul>