From left to right:
<ul>
<li>Sr. Nibisha (Headmistress)</li>
<li>Sr. Shylaja (Teacher)</li>
<li>Sr. Sandhanamary (Teacher)</li>
<li>Sr. Fathima (Superior)</li>
<li>Sr. Beula (Mathes Teacher)</li>
<li>Sr. Nirmala (Accountant)</li>
</ul>