De gauche à droite:
<ul>
<li>Sr. Nibisha (Direktorin der Schule)</li>
<li>Sr. Shylaja (Lehrerin)</li>
<li>Sr. Sandhanamary (Lehrerin)</li>
<li>Sr. Fathima (Superior)</li>
<li>Sr. Beula (Mathematiklehrerin)</li>
<li>Sr. Nirmala (Buchhalter)</li>
</ul>