body {
  background: url(img/indiaFlag.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Comic Sans MS", Verdana, Arial, Sans-serif
}

.tempMessage {
    font-size: 32px;
}

#mainTitle {
    font-family: papyrus, Verdana, Arial, Sans-serif;
    font-size: 80px;
}

#confirmation {
    color:red;
}

