html {
    --lumo-contrast-5pct: none;
}

body {
  background: url(img/indiaFlag.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Comic Sans MS", Verdana, Arial, Sans-serif
}

.tempMessage {
    font-size: 32px;
}

@media only screen and (min-width: 768px) {
    #mainTitle {
        font-family: papyrus, Verdana, Arial, Sans-serif;
        font-size: 68px;
    }
}

#confirmation {
    color:red;
}

#languageSelector {
   width:60px;
   text-align: left;
   text-align-last: left;
   -moz-text-align-last: left;
}

#languageSelectorLayout {
    padding-block-end: 140px;
    padding-right: 5px;
}
